<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Detail</title>
</head>
<body>
<h1 th:text="${productDetails.name}"></h1>
<p th:text="${productDetails.description}"></p>
<h2>Sales Details</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Sales Date</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="salesDetails : ${salesDetailsList}">
    <td th:text="${salesDetails.id}"></td>
    <td th:text="${salesDetails.date}"></td>
    <td th:text="${salesDetails.quantity}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>